.products-list-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
  margin: 120px;
  width: 85%;
  height: auto;
  margin: auto;
  margin-right: 40px;
  row-gap: 80px;
  column-gap: 0;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.product-card {
  background-color: #fff;
  box-shadow: 0 0 30px var(--second-color);
  border: none;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products-off {
  background-color: #c82d2d;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: relative;
  left: 0;
  top: 0;
  margin-bottom: -12px;
  margin-left: -12px;
}
.product-img {
  height: 200px;
}
.product-name {
  font-size: 18px;
  opacity: 0.6;
  margin-bottom: 12px;
}
.product-price {
  margin-bottom: 12px;
  color: #ef3939;
  font-weight: 800;
  margin-right: 5px;
}
.products-btn {
  margin-bottom: 12px;
  background-color: #fff;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  border: 2px solid var(--second-color);
  cursor: pointer;
}
.products-btn:hover {
  transform: scale(0.97);
}
.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-offprice {
  margin-bottom: 10px;
  font-weight: 500;
  text-decoration: line-through #ef3939;
  margin-left: 5px;
}
